.buttons .uploading img,
#locations-table .actions .status.removing img {
	width: 20px;
	border-radius: 25px;
}

#new-location-form .container.fields {
	margin-bottom: 15px;
}

#new-location-form .container.buttons {
	display: flex;
	align-items: center;
}

#locations-table .actions, #locations-table .actions .status.removing{
	display: flex;
	flex-wrap: nowrap;
}

#locations-table .actions .status.removing.hidden{
	display: none;
	visibility: hidden;
}

#locations-table .actions .action:hover .dashicons{
	font-size: 25px;
}

#locations-table .actions .action {
	cursor: pointer ;
}

#jgb-vwds-location-list {
	display: flex;
}

#jgb-vwds-location-list > div {
	border: 1px solid darkgray;
	padding: 15px;
	border-radius: 7px;
	flex: 0 1 auto;
	margin-right: 10px;
}

#new-location-form {
	
}

#locations-importer-form .container.buttons {
	display: flex;
	align-content: center;
}